.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
}

.cardsContainer {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100%;
    margin: 2rem auto;
}

.card {
    display: flex;
    border-radius: 10px;
    background-color: white;
    color: #2A2B2DFF;
    border: 2px #D9514EFF solid;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
}