@keyframes hovertext {
    from {
        color: #2A2B2DFF;
        background-color: #D9514EFF;
    }
    to {
        color: #D9514EFF;
        background-color: #2A2B2DFF;
    }
}

.button {
    background-color: #D9514EFF;
    color: #2A2B2DFF;
    border: 1px #2A2B2DFF solid;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    cursor: pointer;
}

.button:hover {
    color: #D9514EFF;
    background-color: #2A2B2DFF;
    animation-name: hovertext;
    animation-duration: 1s;
}