@keyframes hovertext {
    from {color: #2A2B2DFF;}
    to {color: white;}
}

.header {
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #D9514EFF;
    color: #2A2B2DFF;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
}

.actions {
    display: flex;
    column-gap: 1rem;
}

.action {
    background-color: transparent;
    border: none;
    color: #2A2B2DFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.action:hover {
    color: white;
    animation-name: hovertext;
    animation-duration: 1s;
}