.message {
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.info {
    background-color: blue;
}

.success {
background-color: green;
}

.warning {
    background-color: orange;
}

.error {
    background-color: red;
}