.square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
}

.square.empty {
    border: 1px solid #000;
}

.square.black {
    border-radius: 50%;
    color: #000;
    background-color: #000;
}

.square.white {
    border-radius: 50%;
    color: #fff;
    background-color: #fff;
}

.square.black.history {
    color: #fff;
}

.square.white.history {
    color: #000;
}
.square.empty:hover {
    background-color: #183642;
}